@charset "UTF-8";

::after ::before{
	box-sizing: inherit;
	font-family: 윤고딕700;
}

#container{
	min-height:100%;
	margin-top:100px;
}

#box, .list{
	text-align: center;
	margin-left : 60px;
	width  : 1350px;
	margin-top: 30px;
	height : 300px;
	color : white;
}

.list{
	counter-reset: number 0; /* 카운트환경 셋팅 */
	margin-bottom: 30px;
}

.row{
	margin-top: 30px;
	height : 300px; 
	border:3px solid #586380;
	border-radius: 15px;
	counter-increment: number 1; /* 카운트 증가 */
	/* display: table-row; */
	background-color: #2E3856;
}
/* 카운트증가 */
.cnt::before{
	content      : counter(number); /* 증가한 카운터 보여주기 */
	display      : inline-block;
    text-align   : center;
    line-height  : 1.5;
    width        : 25px;
    height       : 25px;
    margin-right : 10px;
    font-size    : 16px;
    font-weight  : 700;
}
.cnt{
	float:left;
}

.qArea{
	float: left;
	margin-left: 50px;	
	width: 31%;
	margin-top : 27px;
}

.aArea{
	float: left;
	margin-top : 27px;
	width: 60%;
}

p{
	font-size: 16px;
	text-align: left;
}

#insert_btn{
	width:100px;
	height:60px;
	text-align: center;
	margin : auto;
	margin-top : 50px;
	cursor: pointer;
}
#cardSet_btn{
	width:100px;
	height:60px;
	text-align: center;
	margin : right;
	margin-top : 50px;
	cursor: pointer;
}

#delBtn{
	float: right; /* 우측정렬 */
	text-decoration: none;
	cursor: pointer;
	margin-top:8px;
	margin-right:8px;
	font-size: 30px;
}

textarea {
	resize:none;
	font-size:18px;
	background-color: #2E3856;
	font-weight: bold;
	color:white;
	border:none;
	border-bottom: 1px solid #586380; 
}
.tArea{
	margin : auto;
}

#makeCard, #cardBtn{
	margin-top:20px;
	color:black;
	width : 200px;
	height : 100px;
	border-radius: 15px;
	font-weight: bold;
	font-size: 20px;
	margin-bottom:100px;
}

#makeCard{
	margin-left:1220px;
}

#footer {
	margin-top: 50px;
	padding: 10px;
	text-decoration: none;
	float : left;
	background-color: #0a092d;
	color : white;
	text-align: left;
	left : 0;
}