@charset "UTF-8";

#headContainer{
	width: 100%;
	height: 80px;
	background-color: #222222;
	display: flex;
	justify-content: flex-end;
}

html, body, hr{
	margin: 0;
	padding: 0;
}

a{
	text-decoration-line: none;
	color:white;
}

#cancelBtn{
	width: 50px;
	height: 50px;
	border: 2px solid black;
	margin-top: 15px;
	margin-right: 50px;
	border-radius: 5px;
	background-color: #b0adad;
	color: black;
	font-size: 20px;
	align-content: right;
}

.findBtn{
	line-height: 80px;
	width: 100px;
	text-align:center;
	border: 2px solid #222222;
	background-color: #222222;
	border-radius: 10px;
	box-shadow: 1px 3px 1px black;
}