@charset "UTF-8";

#headContainer{
	width: 100%;
	height: 80px;
	background-color: #222222;
	display: flex;
	justify-content: space-between;
	color: white;
}

#nav{
	width:14%;
	height: 100%;
	margin-left: 20px;
	cursor: pointer;
	display: flex;
	line-height: 80px;
	font-size: 30px;
}

html, body, hr{
	margin: 0;
	padding: 0;
}

.dropDownItem{
	display: none;
	position: absolute;
	z-index: 1;
	width: 300px;
	height: 125px;
	background-color: #b0adad;
	top:80px;
}

.dropDownItem a {
	display: block;
	font-size: 20px;
	height: 40px;
	text-decoration: none;
	line-height: 40px;
	color: white;
}

.drop{
	display: block;
}

#dropDownContainer{
	margin: auto;
	width: 100%;
}

#dropDown{
	display: inline-block;
}

#dropDown:hover{
	border-radius: 5px;
	background-color: #b0adad;
}

.dropDownItem a:hover {
	background-color: #d0aaaa;
}

.icon{
	display:inline-block;
	margin-left: 5px;
	width: 25px;
	height: 25px;
}

#cancelBtn{
	width: 50px;
	height: 50px;
	border: 2px solid black;
	margin-top: 15px;
	margin-right: 50px;
	border-radius: 5px;
	background-color: #b0adad;
	color: black;
	font-size: 20px;
}

#prg{
	font-size: 20px;
}