@charset "UTF-8";

*{
	margin  : 0px;
	padding : 0px;
}

/* card css */
.card {	
	width        : 100%;
	height       : 100%;
	border-radius: 15px;
	margin-top: 10px;
}

.card-inner {
	position   : relative;
	width      : 100%;
	height     : 100%;
	text-align : center;
	transition : transform 0.5s;
	transform-style : preserve-3d; 	
	border-radius: 20px;
	
}
.card.flipped .card-inner {
	transform: rotateX(180deg);
}
.card-front {
	position : absolute; 
	top      : 0%;
	bottom   : 0%;
	width    : 100%;
	height   : 100%;
	border-radius    : 10px;
	border			 : 2px solid black;
	box-shadow       : 1px 1px 4px black;
	box-sizing       : border-box;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	font-weight     : bold;
	font-size       : 30px;
	display         : flex;
	align-items     : top;
	padding:110px;
	justify-content : center;
	line-height     : 30px;
	white-space: normal;
	background: #2e3856;
	color: white;
}
.card-back {
	transform: rotateX(180deg);
}
/* study menu */
.studyMenu{
	display: flex;
	justify-content: space-between;
}

.studyItem{
	border: 1px solid black;
	width: 23%;
	height: 50px;
	border-radius    : 5px;
	border			 : 2px solid black;
	box-shadow       : 1px 1px 4px black;
	box-sizing       : border-box;
	text-align: left;
	line-height: 50px;
	font-size: 25px;
	font-weight: 600;
}

/* slide css */

/* 라디오 버튼 숨김 */
.section [id*=slide]{
	display : none;
}

.section .slideBox{
	max-width  : 900px;
	height     : 700px;
	/* margin     : auto; */
	margin-left: 200px;
	overflow   : hidden;
}

.section .slideList{
	white-space : nowrap;
	font-size   : 0;
	position    : relative;
	width       : 900px;
	height      : 620px;
	margin-top: 10px;
}

.section .slideList > li{
	display        : inline-block;
	vertical-align : middle;
	width	       : 100%;
	height         : 620px;
	transition     : 0.3s; /* 슬라이드 속도 설정 */
}

.section .slideList label{
	position  : absolute;
	z-index   : 1;
	top       : 50%;
	padding   : 27px;
	width	  : 350px;
	cursor    : pointer; /* 마우스가 올라갔을 때, 커서 -> 포인터 변경 */
	/* border    : 4px solid #3ccfcf; */
}


.section .slideList .left{
	left : 50px;
	top: 600px;
	border-bottom-left-radius: 40px;
	border-top-left-radius: 40px;
}
.section .slideList .right{
	right : 50px;
	top: 600px;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
}

/* 초기위치 설정값 */
 .section [id="slide1"]:checked ~ .slideBox .slideList > li {
	transform:translateX(0%);
}

#progress{
	position: relative;
	width: 100%;
	height: 3px;
	background-color: black;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 1px black;
}
#myBar{
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: purple;
}

#btnBox{
	margin-left: 200px;	
	background-color: #0a092d; 
	width: 900px; 
	display: flex; 
	justify-content: space-around;
	box-shadow: 1px 1px 3px 1px #dadce0;
	height: 80px;
}

#btnBox > input{
	width: 30%; 
	height: 60px;
	border: 1px solid #282e3e; 
	background-color: #13141b; 
	color: #3ccfcf; 
	border: 2px solid #3ccfcf;
	margin-top: 10px;
}

.checked{
	height: 55px; 
	width: 55px;
	font-size: 40px; 
	text-align: right; 
	margin-right: 15px;
	border-radius: 35px;
	border: 2px dotted yellow;
	line-height: 50px;
	box-sizing: border-box;
}

.checkBtn{
	width: 50px;
	height: 50px;
	border: 2px dotted yellow;
	background-color: transparent; 
	border: 0;
	line-height: 50px;
	color: gold;
}

.checkBtn:hover{
	background-color: #979958;
	border-radius: 35px;
}

#msg{
	color: white;
	margin-left: 550px;
	font-size: 18px; 
	font-weight: 600;
}

.choice {
	position:fixed;
	top:420px;
	right:105px;
}

.threechoice {
	display: block;
	width: 700px;
	height: 70px;
	background-color: #2E3856;
	font-size:20px;
	text-align: left;
	color:white;
	border: none;
	border-radius: 10px;
	cursor:pointer; 
}

.threechoice:hover{
	background-color: #586380;
}