<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="vo.TekaMemberVo" alias="member"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="config/mybatis/mapper/card.xml" />
		<mapper resource="config/mybatis/mapper/studyCard.xml" />
		<mapper resource="config/mybatis/mapper/tekamember.xml" />
	</mappers>
</configuration>